# 端口
PORT=9520

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_DATABASE=chatgpt
DB_SYNC=true

# Redis
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_USER=
REDIS_DB=0

# 是否测试环境
ISDEV=false

# 自定义微信URL
weChatOpenUrl=https://open.weixin.qq.com
weChatApiUrl=https://api.weixin.qq.com
weChatMpUrl=https://mp.weixin.qq.com

# 自定义后台路径
ADMIN_SERVE_ROOT=/admin
