
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.github.io
 */

.slide-right-enter-active[data-v-63ec1fa4]{transition:.2s}.slide-right-leave-active[data-v-63ec1fa4]{transition:.15s}.slide-right-enter-from[data-v-63ec1fa4]{margin-left:-20px;opacity:0}.slide-right-leave-to[data-v-63ec1fa4]{margin-left:20px;opacity:0}
