
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.github.io
 */

.fixed-action-bar[data-v-9af45002]{box-shadow:0 0 1px 0 var(--g-box-shadow-color)}.fixed-action-bar.shadow[data-v-9af45002]{box-shadow:0 -10px 10px -10px var(--g-box-shadow-color)}
