
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.github.io
 */

.prompt,.answer{width:100%;max-height:40px;overflow:hidden;text-overflow:ellipsis;white-space:normal;cursor:pointer}.answer_container{max-height:500px;overflow:overlay}
